html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Roboto, sans-serif;
}

#map {
  margin: auto;
  height: 70%;
  width: 60%;
  margin-bottom: 7px;
}

a[href^="http://maps.google.com/maps"]{
  display:none !important;
}

a[href^="https://maps.google.com/maps"]{
  display:none !important;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none;
}

.gmnoprint div {
  background: none;
}

.slider {
  margin: auto;
  width: 42.5%;
}

.timescontainer > div{
  display: inline-block;
}
