html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Roboto, sans-serif;
}

.maincontainer {
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

a[href^="http://maps.google.com/maps"]{
  display:none !important;
}

a[href^="https://maps.google.com/maps"]{
  display:none !important;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none;
}

.gmnoprint div {
  background: none;
}

.slider {
  margin: auto;
  width: 30.4%;
  position: absolute;
  bottom: 4em;
  left: 37em;
  z-index: 1;
}

.timescontainer {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  bottom: 1em;
  left: 25.45em;
  padding-top: 2.4em;
  border-radius: 7px;
}

.timescontainer > div {
  display: inline-block;
  margin: auto;
}

.maincontainer {
  display: inline-block;
}

.scalecontainer {
  position: absolute;
  z-index: 1;
  left: 24px;
  top: 53px;
}

.scalecontainer > div {
  height: 50px;
  width: 50px;
}

.leftmenu {
  position: absolute;
  height: 25em;
  width: 6em;
  background-color: white;
  z-index: 1;
  opacity: 0.75;
  top: 5em;
  left: 1.5em;
}

.rightmenu {
  position: absolute;
  height: 25em;
  background-color: white;
  width: 16em;
  right: 1.5em;
  top: 5em;
  z-index: 1;
  text-align: left;
  opacity: 0.75;
}

.rightmenu * {
  margin-left: 10px;
}

.scalecontainer > div > div {
  padding-top: 1em;
}
