html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Roboto, sans-serif;
}

.maincontainer {
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

a[href^="http://maps.google.com/maps"]{
  display:none !important;
}

a[href^="https://maps.google.com/maps"]{
  display:none !important;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none;
}

.gmnoprint div {
  background: none;
}

.slider {
  margin: auto;
  width: 42.5%;
  position: absolute;
  bottom: 25px;
  left: 416px;
}

.timescontainer {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  bottom: 3px;
  left: 416px;
}

.timescontainer > div {
  display: inline-block;
  margin: auto;
}

.maincontainer {
  display: inline-block;
}

.scalecontainer {
  position: absolute;
  z-index: 1;
  left: 30px;
  top: 128px;
}

.scalecontainer > div {
  height: 50px;
  width: 50px;
}
