html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#map {
  margin: auto;
  height: 50%;
  width: 50%;
  margin-bottom: 7px;
}

a[href^="http://maps.google.com/maps"]{
  display:none !important;
}

a[href^="https://maps.google.com/maps"]{
  display:none !important;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none;
}

.gmnoprint div {
  background: none;
}

.header {
  font-family: Roboto, sans-serif;
}

.slider {
  margin: auto;
  width: 35%;
}
