html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  margin: auto;
  height: 50%;
  width: 50%;
}
a[href^="http://maps.google.com/maps"]{
  display:none !important;
}
a[href^="https://maps.google.com/maps"]{
  display:none !important;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none;
}
.gmnoprint div {
  background: none;
}
.header {
  text-align: center;
  font-family: Roboto, sans-serif;
}
